.welcome {
  background: orangered;
  border: 2px solid black;
}

.btn-warning {
  background: red;
  border: black;
}
.btn-valid {
  background: limegreen;
  border: purple;
}

.container {
  padding: 10px;
  background: white;
  border: 2px solid red;
}
